<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.nice-select.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/slick.js') }}"></script>
<script src="{{ url_for('static', filename='js/summernote.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/counterup.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/viewport.jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.nice-number.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>